article {
  width: 75%;
}

.user-form {
  background-color: lightgray;
  display: table;
  border-style: solid;
  border-color: #4e6977;
  border-width: .1em;
  margin: 5em;
  width: 100%;
  padding: .3em;

  div {
    display: table-row;
    width: 100%;
  }
  label {
    display: table-cell;
    width: 25%;
    padding: .1em;
    margin: .1em;
  }

  input {
    display: table-cell;
    width: 90%;
    padding: .1em;
    margin: .1em;
  }

  textarea {
    display: table-cell;
    width: 90%;
    margin: .3em;
  }

  button {
    display: table-cell;
    float: end;
    padding: .1em;
    margin: .1em;
  }
}
