@import 'vars';

body {
  background: $background-color;
  font-family: sans-serif;
  color: $font-color;
  // text-align: center;
}

a {
  color: $font-color;
}

a:hover {
  text-decoration: none;
}

.error {
  color: $error;
}

li {
  list-style-type: none;
  // margin-left: -40px;
}

.dashboard {
  display: inline-block;

  input[type=text], select, textarea {
    width: 75%;
    // padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
  }

  .btn {
    background-color: #ffffff;
  }
}

.category {
  background-color: rgba(78, 105, 119, 0.5);
  // padding-left: 5px;
  // padding-right: 5px;
  border: 2px solid #7f7f7f;
  border-radius: 5px;
  button {
    margin: 10px;
  }
}

.category-form {
  border: 4px solid #7f7f7f;
  border-radius: 5px;
  background: $background-color;
}

.expense {
  // padding-left: 5px;
  // padding-right: 5px;
  border: 2px solid #7f7f7f;
  border-radius: 5px;
  button {
    // margin: 10px;
  }
}


