//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$background-color: #7A9D96;
$font-color: rgba(0, 48, 63, 0.8);

$modal-color: rgba(35, 50, 55, 0.5);
$modal-background: #DCAE1D;
$error: #ff0000;

$button-color: #ffffff;




//--------------------------------------------------------------
// SIZE
//--------------------------------------------------------------