.eventPost {
  
  width: 85%;
  height:50px;
  background-color: rgb(255, 255, 255);
  // margin-top: 1%;
  // text-align: center;
  padding-top: 2%;
  padding-bottom: 1%; 
  border-style: groove;
  border-width: 1px; 

  aside {
    float:left;
    margin-left: 3%;
  }
  .eventInfo {
    display: inline-block;
    text-align: left;
    margin-left: 10%;
  }
  .eventTitle {
    font-size: 25px;
    padding-bottom: 3%;
  }
  .location {
    color: lightslategrey;
  }
}
.modal {
  .modalTitle {
    font-size: 35px;
    margin-left:2%;
  }
  p {
    font-size: 21px;
    margin-left:9%;
  }
  .modalDate {
    font-size: 18px;
    color: lightslategrey;
    margin-top:2%;
    margin-left:2%;
  }
  .confirm {
    all: unset;
    width: 35%;
    background-color: rgb(0, 110, 255);
    padding-top: 1%;
    padding-bottom: 0.5%;
    border-radius: 10px;
    display: inline-block;
    margin-right:2%;
    text-align: center;
    margin-left:9%;
  }
  .deny {
    all: unset;
    width: 35%;
    background-color: rgb(0, 110, 255);
    padding-top: 1%;
    padding-bottom: 0.5%;
    display: inline-block;
    border-radius: 10px;
    margin-left:2%;
    text-align: center;
  }
  hr {
    width: 73%;
    margin-top: 3%;
    margin-left: 10%;
  }
  .info {
    all: unset;
    display: block;
    margin-top: 3%;
    margin-left:7%;
    margin-bottom: 3%;
    font-size: 18px;
    color: lightslategrey;
    div {
      padding-top:1%;
    }
  }
  h3 {
    margin-top: 5%;
    margin-left:2%;
  }
  .modalDescription {
    margin-top: 2%;
    margin-left:2%;
    margin-bottom: 3%;
  }
}