.postForm{
  // display: table;
  width: 500px;

  aside {
    border-color: red;
    border-style: dashed;
    // display: table-cell;
    margin-right: 20px;
    text-align: left;
    width: 20%;
    padding-right: 2em;
  }
  
  // div {
  //   border-color: #1f41ff;
  //   border-style: dashed;
  //   display: table-row;
  // }

  input {
    border-color: #1dff4e;
    border-style: dashed;
    // display: table-row;
    width: 80%;
    padding-left: 2em;
  }

  textarea {
    // display: table-row;
    width: 80%;
    padding-left: 2em;
  }
}
